In [1]:
import pandas as pd

In [2]:
#importing the data
bit=pd.read_csv('../../data/price_index_data/BTC_USD_2014-11-04_2021-09-15-CoinDesk.csv')
eth=pd.read_csv('../../data/price_index_data/ETH_USD_2016-12-17_2021-09-15-CoinDesk.csv')
bnb=pd.read_csv('../../data/price_index_data/BNB-USD.csv')
ada=pd.read_csv('../../data/price_index_data/ADA-USD.csv')
dow=pd.read_csv('../../data/price_index_data/DowHistoricalPrices.csv')
snp=pd.read_csv('../../data/price_index_data/SP500HistoricalData_1631768361281.csv')
nas=pd.read_csv('../../data/price_index_data/NASDAQHistoricalPrices.csv')
nvda=pd.read_csv('../../data/price_index_data/NVDA.csv')
amd=pd.read_csv('../../data/price_index_data/AMD.csv')

In [3]:
def column_status(data):
    print("Index",'Columns')
    for i,j in data.items():
       print(i,':',list(j.columns))

In [4]:
#making a dictionary of dataframes
data={"bit":bit,"eth":eth,"bnb":bnb,"ada":ada,"dow":dow,"nvda":nvda,"snp":snp,"nas":nas,"amd":amd}
column_status(data)

Index Columns
bit : ['Currency', 'Date', 'Closing Price (USD)', '24h Open (USD)', '24h High (USD)', '24h Low (USD)']
eth : ['Currency', 'Date', 'Closing Price (USD)', '24h Open (USD)', '24h High (USD)', '24h Low (USD)']
bnb : ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
ada : ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
dow : ['Date', ' Open', ' High', ' Low', ' Close']
nvda : ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']
snp : ['Date', 'Close/Last', 'Volume', 'Open', 'High', 'Low']
nas : ['Date', ' Open', ' High', ' Low', ' Close']
amd : ['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']

Based on the output above, our data has a lot of columns. To make thing easier I will only keep the open price, the close price and the date for each index. I periodically print out the columns for each dataframe to get a sense of where I am and what I need to do next.

In [5]:
#**RENAMING COLUMNS IN DATAFRAMES**

#formating the column names
for i,j in data.items():
    temp=[]
    for k in list(j.columns):
        k=k.replace(' ','_').lower() #removing spaces
        if k[0]=='_':
            k=k[1:].lower() #making sure column names dont start with an underscore
        if '/' in k:
            k=k[:k.find('/')].lower() #removing backslashes
        temp.append(k)
    j.columns=temp

In [6]:
column_status(data)

Index Columns
bit : ['currency', 'date', 'closing_price_(usd)', '24h_open_(usd)', '24h_high_(usd)', '24h_low_(usd)']
eth : ['currency', 'date', 'closing_price_(usd)', '24h_open_(usd)', '24h_high_(usd)', '24h_low_(usd)']
bnb : ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']
ada : ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']
dow : ['date', 'open', 'high', 'low', 'close']
nvda : ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']
snp : ['date', 'close', 'volume', 'open', 'high', 'low']
nas : ['date', 'open', 'high', 'low', 'close']
amd : ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']

In [7]:
#changing the column names of the dataframes
for i,j in data.items():
    for k in [cols for cols in j.columns if '_' in cols]:
        if 'open' in k:
            j['open']=j[k]
        if ('closing' in k):
            j['close']=j[k]

In [8]:
column_status(data)

Index Columns
bit : ['currency', 'date', 'closing_price_(usd)', '24h_open_(usd)', '24h_high_(usd)', '24h_low_(usd)', 'close', 'open']
eth : ['currency', 'date', 'closing_price_(usd)', '24h_open_(usd)', '24h_high_(usd)', '24h_low_(usd)', 'close', 'open']
bnb : ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']
ada : ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']
dow : ['date', 'open', 'high', 'low', 'close']
nvda : ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']
snp : ['date', 'close', 'volume', 'open', 'high', 'low']
nas : ['date', 'open', 'high', 'low', 'close']
amd : ['date', 'open', 'high', 'low', 'close', 'adj_close', 'volume']

In [9]:
#making sure all the dataframes have the same columns:
cols=['date','open', 'close']
for i,j in data.items():
    data[i]=j[cols]

In [10]:
column_status(data)

Index Columns
bit : ['date', 'open', 'close']
eth : ['date', 'open', 'close']
bnb : ['date', 'open', 'close']
ada : ['date', 'open', 'close']
dow : ['date', 'open', 'close']
nvda : ['date', 'open', 'close']
snp : ['date', 'open', 'close']
nas : ['date', 'open', 'close']
amd : ['date', 'open', 'close']

In [11]:
for i,j in data.items():
    j.columns=['date',f'{i}_open', f'{i}_close']

In [12]:
#checking for null values and data types in the dataframe
for i,j in data.items():
    print(j.info())
    print('*'*40)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2508 entries, 0 to 2507
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2508 non-null   object
 1   bit_open   2508 non-null   float64
 2   bit_close  2508 non-null   float64
dtypes: float64(2), object(1)
memory usage: 58.9+ KB
None
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1734 entries, 0 to 1733
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1734 non-null   object
 1   eth_open   1734 non-null   float64
 2   eth_close  1734 non-null   float64
dtypes: float64(2), object(1)
memory usage: 40.8+ KB
None
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1535 entries, 0 to 1534
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1535 non-null   object
 1   bnb_open   1531 non-null   float64
 2   bnb_close  1531 non-null   float64
dtypes: float64(2), object(1)
memory usage: 36.1+ KB
None
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1467 entries, 0 to 1466
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1467 non-null   object
 1   ada_open   1463 non-null   float64
 2   ada_close  1463 non-null   float64
dtypes: float64(2), object(1)
memory usage: 34.5+ KB
None
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1942 entries, 0 to 1941
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1942 non-null   object
 1   dow_open   1942 non-null   float64
 2   dow_close  1942 non-null   float64
dtypes: float64(2), object(1)
memory usage: 45.6+ KB
None
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5700 entries, 0 to 5699
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   date        5700 non-null   object
 1   nvda_open   5700 non-null   float64
 2   nvda_close  5700 non-null   float64
dtypes: float64(2), object(1)
memory usage: 133.7+ KB
None
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2557 entries, 0 to 2556
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       2557 non-null   object
 1   snp_open   2557 non-null   float64
 2   snp_close  2557 non-null   float64
dtypes: float64(2), object(1)
memory usage: 60.1+ KB
None
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1940 entries, 0 to 1939
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       1940 non-null   object
 1   nas_open   1940 non-null   float64
 2   nas_close  1940 non-null   float64
dtypes: float64(2), object(1)
memory usage: 45.6+ KB
None
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10479 entries, 0 to 10478
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   date       10479 non-null  object
 1   amd_open   10479 non-null  float64
 2   amd_close  10479 non-null  float64
dtypes: float64(2), object(1)
memory usage: 245.7+ KB
None
****************************************

In [13]:
#saving modified dataframes
for i,j in data.items():
    j.to_csv(f'../../data/price_index_data/mod/{i}_prices.csv')